@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

html, body, h1, h2, h3, h4, h5, p, span {
	font-family: 'Open sans', sans-serif;	
}

body {
	position: relative;
	width: 100%;
	overflow-x: hidden;

	@include transition(margin 0.3s ease-in-out);

	@media screen and (min-width: 768px) {
		margin-left: 0px !important;
	}
}

.bg-light {
	background-color: $light-blue;
	color: white;	
}

.bg-dark {
	background-color: $dark-blue;
	color: white;	
}

.color-light {
	
	color: $light-blue;

}

.color-dark {

	color: $dark-blue;

}

.wrap {
	min-height: 500px;	
}

.mask {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 1000;
	display: none;
}

.aahbutton-3 {
	overflow: hidden;
	position: relative;

	&.open {
		cursor: default;
		background-image: url('../images/lighterblue.gif');
		background-position-x: -3000px;
		background-position-y: 112px;
		background-repeat: no-repeat;

		&:hover {
			background-color: $orange;
		}
	}
	
	input[type=text] {
		display: block;
		margin-top: 10px;
		margin-left: 27px;
		background-color: rgba(0,0,0,0);
		color: #FFF;
		border: 1px solid rgba(0,0,0,0);
		-webkit-appearance: none;
		outline: none;
		font-size: 27px;
		font-weight: 100;
		width: 100%;
		position: relative;

		&::-webkit-input-placeholder {
		   color: $light-blue + 55;
		}

		&:-moz-placeholder { /* Firefox 18- */
		   color: $light-blue + 55;  
		}

		&::-moz-placeholder {  /* Firefox 19+ */
		   color: $light-blue + 55;  
		}

		&:-ms-input-placeholder {  
		   color: $light-blue + 55;  
		}
	}
	select {
		width: 320px;
		position: relative;
		height: 45px !important;
		margin-top: 10px;
		line-height: 45px;
		-webkit-appearance: menulist-button;
		color: #FFF;
		font-weight: 400;
		margin-left: 27px;
		background-color: $light-blue;
		border-color: $light-blue + 20;

		option {
			font-size: 17px;
			line-height: 17px;
			color: #333;
		}
	}

	.butons {
		margin-left: 27px;
		margin-top: 15px;
	}

	.text {
		font-size: 15px;
		line-height: 30px;
		font-weight: 100;
		margin-left: 27px;
	}

	.continue-button {
		position: absolute;
		top: 50%;
		right: 15px;
		height: 50px;
		margin-top: -25px;
		width: 200px;
		display: block;
		background-color: #5cb85c + 15;
		color: #FFF;
		border-radius: 5px;
		line-height: 50px;
		text-align: center;
		text-decoration: none;
		font-weight: 100;
		cursor: pointer;
		z-index: 1000;

		&:hover {
			background-color: #5cb85c;
		}
	}
	
}
