// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #1a99cd;
$dark-blue:  			#0c293a;
$light-blue: 			#1a99cd;

// Header
$header-height: 70px;
$child-height: 100px;
