header {

	position: relative;

	.bg-dark {
		height: $header-height;
		position: absolute;
		left: 0;
		width: 100%;
		padding: 0;
		margin: 0;
		z-index: 5000;
		top: 60px;
		//@include transition(margin-left 0.2s linear);

		@media screen and (max-width: 991px) {
			top: 105px;
		}

		@media screen and (max-width: 767px) {
			top: 80px;
		}

		&.sticky {

			position: fixed;
			top: 0px;

			.main-menu .child {
				background: rgba(26,153,205,1) !important;
			}

			.logo {


			}

		}

		.col-md-12 {
			padding-right: 0px !important;
			padding-left: 0px !important;
		}

	}

	.logo {

		padding: 10px 30px;
		height: $header-height;
		transform-style: preserve-3d;
		@include transition(All 0.4s ease);

		@media screen and (max-width: 991px) {
			display: none;
		}

		img {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}

	}

	#mobile-menu-button {

		@include transition(All 0.5s ease-in-out);

		&:hover {
			background-color: #163D5C;
		}

		&.open {
			text-align: left;
			padding-left: 15px;
		} 
	}

}

.formOpen {

		margin-left: -440px !important;

		.sticky {
			margin-left: -440px;
		}

	}